<p><%= flash[:notice] %></p>
<nav>
  <ul>
    <% if logged_in? %>
      <li><a href="/logout">Log out</a></li>
      <li><a href="/gossyps/new">New Gossyp!</a></li>
    <% else %>
      <li><a href="/auth/twitter">Login with Twitter!</a></li>
    <% end %>
  </ul>
</nav>

<% @gossyps.each do |gossyp| %>
  <%= erb :homepage_gossyp, locals: { gossyp: gossyp } %>
<% end %>

<script src="/javascripts/vendor/jquery-2.0.3.js"></script>
<script src="/javascripts/gossypApp.js"></script>
<script>$(function() { new GossypApp() });</script>
