<p><%= flash[:notice] %></p>
<nav>
<ul>
  <li><a href='/auth/twitter'>Login with Twitter!</a></li>
  <li><a href='/gossyps/new'>New Gossyp!</a></li>
</ul>
</nav>

<% @gossyps.each do |gossyp| %>
  <h3><%=gossyp.title%></h3>
<% end %>
