<% unless @gossyp.errors.empty? %>
  <% @gossyp.errors.full_messages.each do |message| %>
    <p class="error"><%=message%></p>
  <% end %>
<% end %>
<form method="POST" action="/gossyps">
  <fieldset>
    <label>Title<input type="textbox" name="gossyp[title]" value="<%=@gossyp.title%>" /></label>
    <label>Body<textarea name="gossyp[body]"><%=@gossyp.body %></textarea></label>
    <input type="submit" value="Spread the Gossyp!" />
  </fieldset>
</form>

